@media screen and (max-width:770px) {
    .modal-data{
        min-width: 0px;
        width: 95%;
        margin: auto;
        flex-direction: column;
        align-items: center;
    }
    .modal-data img{
        width: 200px;
        height: 170px;
        margin-right: 20px;
    }
    
}