@media screen and (max-width:910px) {
    .header-upper-half{
        flex-direction: column;
        align-items: center;
        text-align: center;
        min-width: 0px;
    }
    .cart-and-login{
        flex-direction: column;
    }
    .cart-btn{
        margin-bottom: 10px;
    }
    
    .btns-and-search{
        width: 100%;
        align-items: center;
    }
    .header-lower-half{
        display: none;
    }
    .search-bar{
        width: 100%;
    }
    .title{
        font-size: 33px;
    }
    .header-lower-half-media{
        display: block;
    }
    .open-header{
        position: absolute;
        background-color: black;
        color: white;
        padding: 10px;
        font-size: 25px;
        top: 250px;
        left: 40px;
        border: 2px solid white;
        z-index: 600;
    }
    .media-header{
        position: fixed;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        width: 100%;
        background-color: black;
        color: white;
        z-index: 500;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .media-header a{
    font-size: 40px;        
        color: white;
        margin: 5px 0px;
    }
      #fixed{
          position: fixed;
      }
}