@media screen and (max-width:900px) {
    .courses-filter{
        display: none;
    }
    .course-page{
        justify-content: center;
    }
    .course-list{
        flex-direction: column;
        align-items: center;
    }
    .courses-single-item{
        width: 100%;
    }
    .courses-courses{
        width: 90%;
    }
}