/*
=============== 
Variables
===============
*/

:root {
    --clr-primary-1: hsl(21, 91%, 17%);
    --clr-primary-2: hsl(21, 84%, 25%);
    --clr-primary-3: hsl(21, 81%, 29%);
    --clr-primary-4: hsl(21, 77%, 34%);
    --clr-primary-5: hsl(21, 62%, 45%);
    --clr-primary-6: hsl(21, 57%, 50%);
    --clr-primary-7: hsl(21, 65%, 59%);
    --clr-primary-8: hsl(21, 80%, 74%);
    --clr-primary-9: hsl(21, 94%, 87%);
    --clr-primary-10: hsl(21, 100%, 94%);
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
  }

  /* section */
  .slider-section {
      width: 90%;
      margin: auto;
    /* width: 90vw; */
    /* margin: 5rem auto; */
    /* max-width: var(--max-width); */
  }
  
  @media screen and (max-width: 992px) {
    .slider-text,article h4 {
      font-size: 22px!important;
    }
  }
  .slider-title {
    text-align: center;
    /* margin-bottom: 2rem; */
}
.slider-title h2 {
      color: rgb(226, 28, 33);
      font-size: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
  }
  .slider-title span {
    font-size: 0.85em;
    color: white;
    margin-right: 1rem;
    font-weight: 700;
  }
  .slider-section-center {
    margin: 0 auto;
    padding-top: 40%;
    /* margin-top: 4rem; */
    /* width: 80vw; */
    height: 450px;
    /* max-width: 800px; */
    text-align: center;
    position: relative;
    display: flex;
    overflow: hidden;
    background-image: url(../../images/Testimonials\ bg.webp);
  }
  article h4 {
    text-transform: uppercase;
    color: white;
    margin-bottom: 0.25rem;
    font-size: 27px;
    font-weight: 700;
  }
  .slider-title {
    text-transform: capitalize;
    margin-bottom: 0.75rem;
    color: white;
    
  }
  .slider-text {
    /* max-width: 35em; */
    margin: 0 auto;
    margin-top: 2rem;
    line-height: 2;
    color:white;
    font-size: 27px;
    font-weight: 700;
  }
  .slider-icon {
    font-size: 3rem;
    margin-top: 1rem;
    color: var(--clr-primary-5);
  }
  .slider-prev,
  .slider-next {
    position: absolute;
    top: 250px;
    transform: translateY(-50%);
    background: transparent;
    color: var(--clr-white);
    display: grid;
    place-items: center;
    border-color: transparent;
    font-size: 50px;
    cursor: pointer;
    transition: var(--transition);
  }
  .slider-prev:hover,
  .slider-next:hover {
    color: grey;
  }
  .slider-prev {
    left: 40px;
  }
  .slider-next {
    right: 40px;
  }
  hr{
      width: 140px;
      color: black;
      height: 4px;
      background-color: black;
      margin: auto;
  }
  @media (min-width: 800px) {
    
    .slider-prev,
    .slider-next {
      /* width: 2rem; */
      height: 2rem;
      font-size: 1.5rem;
    }
  }
  article {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: var(--transition);
    padding-top: 10%;
}
.slider-text{
      line-height: normal;
      width: 80%;
  }
  article.activeSlide {
    opacity: 1;
    transform: translateX(0);
  }
  article.lastSlide {
    transform: translateX(-100%);
  }
  article.nextSlide {
    transform: translateX(100%);
  }
  